<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>Onboarding</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button no-border" ui-sref="settings.about">
        <i class="icon ion-chevron-left"></i> Back
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content cache-view="false">
    <div class="content">
      <div class="text-center">
        <h2>bitpay</h2>
      </div>

      <div class="text-center" translate>
        Take control of your money - get started with bitcoin
      </div>

      <div>
        <a class="button button-block" href ui-sref="onboarding.started" translate>Get started</a>
      </div>
    </div>
  </ion-content>
</ion-view>
